<!DOCTYPE html>
<html class="no-js">
<head>
	<title>LoLStreams</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/pure.css">
    <link rel="stylesheet" href="css/grids-responsive.css">
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="font-awesome-4.2.0/css/font-awesome.min.css">
	<script src="js/angular.js"></script>
	<script src="js/angular-ui-router.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="js/main.js"></script>
    
</head>
<body ng-app="LoLStreamsApp">

<div id="layout" class="pure-g" ng-controller="StreamsCtrl">
    <div class="pure-menu pure-menu-open sidebar">
       <a class="pure-menu-heading">LoL Streams</a>
       <ul>
          <li ng-click="showlist()"><a>Team</a></li>
          <li class="sublist" ng-show="showteams" ng-click="click_team('clg')"><a><i ng-class="{'fa fa-square': filter['clg'] == false, 'fa fa-check-square': filter['clg'] }"></i> CLG</a></li>
          <li class="sublist" ng-show="showteams" ng-click="click_team('c9')"><a><i ng-class="{'fa fa-square': filter['c9'] == false, 'fa fa-check-square': filter['c9'] }"></i> C9</a></li>
          <li class="sublist" ng-show="showteams" ng-click="click_team('dig')"><a><i ng-class="{'fa fa-square': filter['dig'] == false, 'fa fa-check-square': filter['dig'] }"></i> DIG</a></li>
          <li class="sublist" ng-show="showteams" ng-click="click_team('lmq')"><a><i ng-class="{'fa fa-square': filter['lmq'] == false, 'fa fa-check-square': filter['lmq'] }"></i> LMQ</a></li>
          <li class="sublist" ng-show="showteams" ng-click="click_team('tsm')"><a><i ng-class="{'fa fa-square': filter['tsm'] == false, 'fa fa-check-square': filter['tsm'] }"></i> TSM</a></li>
          <li ng-click="showlist2()"><a>Rank</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_team('cha')"><a><i ng-class="{'fa fa-square': filter['cha'] == false, 'fa fa-check-square': filter['cha'] }"></i> Challenger</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_team('mas')"><a><i ng-class="{'fa fa-square': filter['mas'] == false, 'fa fa-check-square': filter['mas'] }"></i> Master</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_team('dia')"><a><i ng-class="{'fa fa-square': filter['dia'] == false, 'fa fa-check-square': filter['dia'] }"></i> Diamond</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_team('pla')"><a><i ng-class="{'fa fa-square': filter['pla'] == false, 'fa fa-check-square': filter['pla'] }"></i> Platinum</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_team('gol')"><a><i ng-class="{'fa fa-square': filter['gol'] == false, 'fa fa-check-square': filter['gol'] }"></i> Gold</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_team('sil')"><a><i ng-class="{'fa fa-square': filter['sil'] == false, 'fa fa-check-square': filter['sil'] }"></i> Silver</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_team('bro')"><a><i ng-class="{'fa fa-square': filter['bro'] == false, 'fa fa-check-square': filter['bro'] }"></i> Bronze</a></li>
          <li><a>Region</a></li>
       </ul>
    </div>
    <div ui-view></div>
    <div ng-class="{'stream-list': true, 'pure-u-1': showstreamer == false, 'pure-u-1-4': showstreamer}">
       <div class="pure-u-1">
          <div class="pure-g top-container">
            <div ng-class="{'pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4': showstreamer == false, 'pure-u-1-4': showstreamer}">
                 <div class="pure-form">
                    <form>
                       <input id="search" ng-class="{search: showstreamer}" ng-model="search" type="text" placeholder="Stream / Champ"></input>
                    </form>
                 </div>
            </div>
          </div>
        <div class="pure-g container">
          <div ng-class="{'pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4': showstreamer == false, 'pure-u-1': showstreamer}" ng-repeat="stream in streams | filter: search | filter: filterall">
             <div class="content">
                <p><strong><i ng-if="stream.streamer.gender == 1" class="fa fa-male"></i> {{stream.channel.name}}</strong><strong class="viewers"><i class="fa fa-eye"></i> {{stream.viewers}}</strong></p>
                <button class="img-box" ng-click="showstream(stream.channel.name)">
                   <img class="pure-img-responsive" src={{stream.preview.medium}}>
                   </img>
                   <div class="status">{{stream.channel.status}}</div>
                </button>
                </a>
                <div class="pure-button">{{stream.champion}}</div>
             </div>
          </div>
       </div>
       </div>
    </div>
    <div class="pure-u-3-4 stream-container" ng-if="showstreamer">
        <div class="pure-u-1">
            <div class="pure-g active-stream">
                <object type="application/x-shockwave-flash" 
                    height="378" 
                    width="620" 
                    id="live_embed_player_flash" 
                    data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{activestream}}}" 
                    bgcolor="#000000">
                  <param  name="allowFullScreen" 
                          value="true" />
                  <param  name="allowScriptAccess" 
                          value="always" />
                  <param  name="allowNetworking" 
                          value="all" />
                  <param  name="movie" 
                          value="http://www.twitch.tv/widgets/live_embed_player.swf" />
                  <param  name="flashvars" 
                          value="hostname=www.twitch.tv&channel={{activestream}}&auto_play=true&start_volume=25" />
                </object>
                <i class="fa fa-times" ng-click="closestream()"></i>
            </div>
            <div class="pure-g">
            <iframe frameborder="0" 
                        scrolling="no" 
                        id="chat_embed" 
                        ng-src={{activechat}}
                        height="500" 
                        width="620">
                </iframe>
            </div>
        </div>
    </div>
</div>

</body>
</html>