<!DOCTYPE html>
<html class="no-js">
<head>
	<title>LoLStreams</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/pure.css">
  <link rel="stylesheet" href="css/grids-responsive.css">
  <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="font-awesome-4.2.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/png" href="jasmine/lib/jasmine-2.0.0/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="jasmine/lib/jasmine-2.0.0/jasmine.css"> 

  <script type="text/javascript" src="jasmine/lib/jasmine-2.0.0/jasmine.js"></script>
  <script type="text/javascript" src="jasmine/lib/jasmine-2.0.0/jasmine-html.js"></script>
  <script type="text/javascript" src="jasmine/lib/jasmine-2.0.0/boot.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/angular-ui-router.js"></script>
	<script src="js/angular-resource.js"></script>
  <script src="js/angular-cookies.js"></script>
	<script src="js/main.js"></script>
    
</head>
<body ng-app="LoLStreamsApp">

<div id="layout" class="pure-g" ng-controller="StreamsCtrl">
    <div class="pure-menu pure-menu-open sidebar">
       <a href="/" class="pure-menu-heading">LoL Streams</a>
       <ul>
          <div class="topcheckbox">
            <a class="checkboxtop" ng-click="click_ingame('In game.')"><i ng-class="{'fa fa-square': ingame_filter['In game.'] == false, 'fa fa-check-square': ingame_filter['In game.'] }"></i> <i class="fa fa-gamepad fa-lg on"></i></a>
            <a ng-click="click_ingame('Not in game.')"><i ng-class="{'fa fa-square': ingame_filter['Not in game.'] == false, 'fa fa-check-square': ingame_filter['Not in game.'] }"></i> <i class="fa fa-gamepad fa-lg off"></i></a>
            <a ng-click="click_ingame('Champion select.')"><i ng-class="{'fa fa-square': ingame_filter['Champion select.'] == false, 'fa fa-check-square': ingame_filter['Champion select.'] }"></i> <i class="fa fa-gamepad fa-lg onoff"></i></a>
          </div>
          <li ng-click="showlist()"><a>Team</a></li>
          <li class="sublist" ng-repeat="(team, value) in team_filter" ng-show="showteams" ng-click="click_team(team)"><a><i ng-class="{'fa fa-square': team_filter[team] == false, 'fa fa-check-square': team_filter[team] }"></i> {{team.toUpperCase()}}</a></li>
          <li ng-click="showlist2()"><a>Rank</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_rank('CHALLENGER')"><a><i ng-class="{'fa fa-square': rank_filter['CHALLENGER'] == false, 'fa fa-check-square': rank_filter['CHALLENGER'] }"></i> Challenger</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_rank('MASTER')"><a><i ng-class="{'fa fa-square': rank_filter['MASTER'] == false, 'fa fa-check-square': rank_filter['MASTER'] }"></i> Master</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_rank('DIAMOND')"><a><i ng-class="{'fa fa-square': rank_filter['DIAMOND'] == false, 'fa fa-check-square': rank_filter['DIAMOND'] }"></i> Diamond</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_rank('PLATINUM')"><a><i ng-class="{'fa fa-square': rank_filter['PLATINUM'] == false, 'fa fa-check-square': rank_filter['PLATINUM'] }"></i> Platinum</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_rank('GOLD')"><a><i ng-class="{'fa fa-square': rank_filter['GOLD'] == false, 'fa fa-check-square': rank_filter['GOLD'] }"></i> Gold</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_rank('SILVER')"><a><i ng-class="{'fa fa-square': rank_filter['SILVER'] == false, 'fa fa-check-square': rank_filter['SILVER'] }"></i> Silver</a></li>
          <li class="sublist" ng-show="showrank" ng-click="click_rank('BRONZE')"><a><i ng-class="{'fa fa-square': rank_filter['BRONZE'] == false, 'fa fa-check-square': rank_filter['BRONZE'] }"></i> Bronze</a></li>
          <li ng-click="showlist3()"><a>Region</a></li>
          <li class="sublist" ng-show="showregion" ng-click="click_region('NA')"><a><i ng-class="{'fa fa-square': region_filter['NA'] == false, 'fa fa-check-square': region_filter['NA'] }"></i> North America</a></li>
          <li class="sublist" ng-show="showregion" ng-click="click_region('EUW')"><a><i ng-class="{'fa fa-square': region_filter['EUW'] == false, 'fa fa-check-square': region_filter['EUW'] }"></i> Europe West</a></li>
          <li class="sublist" ng-show="showregion" ng-click="click_region('EUNE')"><a><i ng-class="{'fa fa-square': region_filter['EUNE'] == false, 'fa fa-check-square': region_filter['EUNE'] }"></i> EU Nordic & E</a></li>
          <li class="sublist" ng-show="showregion" ng-click="click_region('BR')"><a><i ng-class="{'fa fa-square': region_filter['BR'] == false, 'fa fa-check-square': region_filter['BR'] }"></i> Brazil</a></li>
          <li class="sublist" ng-show="showregion" ng-click="click_region('TR')"><a><i ng-class="{'fa fa-square': region_filter['TR'] == false, 'fa fa-check-square': region_filter['TR'] }"></i> Turkey</a></li><li class="sublist" ng-show="showregion" ng-click="click_region('RU')"><a><i ng-class="{'fa fa-square': region_filter['RU'] == false, 'fa fa-check-square': region_filter['RU'] }"></i> Russia</a></li>
          <li class="sublist" ng-show="showregion" ng-click="click_region('LAN')"><a><i ng-class="{'fa fa-square': region_filter['LAN'] == false, 'fa fa-check-square': region_filter['LAN'] }"></i> Latin America N</a></li>
          <li class="sublist" ng-show="showregion" ng-click="click_region('LAS')"><a><i ng-class="{'fa fa-square': region_filter['LAS'] == false, 'fa fa-check-square': region_filter['LAS'] }"></i> Latin America S</a></li>
          <li class="sublist" ng-show="showregion" ng-click="click_region('OCE')"><a><i ng-class="{'fa fa-square': region_filter['OCE'] == false, 'fa fa-check-square': region_filter['OCE'] }"></i> Oceania</a></li>
          <li><a ng-if="favstreams !== undefined" ng-click="click_fav(fav_filter)"><i ng-class="{'fa fa-square': fav_box == false, 'fa fa-check-square': fav_box }"></i> Following</a></li>
       </ul>
    </div>
    <div class="twitch">
      <div class="login">
            <li class="signin" ng-if="favstreams == undefined"><a href="/auth"><i class="fa fa-twitch"></i> Sign In</a></li>
            <li ng-if="user.name"><a><i class="fa fa-twitch"></i> {{user.name}}</a></li>
            <li ng-if="user.name"><a ng-click="logout()"><i class="fa fa-sign-out"></i> Sign Out</a></li>
      </div>
    </div>
    <div ui-view></div>
    <div ng-class="{'stream-list': true, 'pure-u-1': showstreamer == false, 'pure-u-1-4': showstreamer}">
       <div class="pure-u-1">
          <div class="pure-g top-container">
            <div ng-class="{'pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4': showstreamer == false, 'pure-u-1-4': showstreamer}">
                 <div class="pure-form">
                    <form>
                       <input id="search" ng-class="{search: showstreamer}" ng-model="search" type="text" placeholder="Stream / Champ"></input>
                    </form>
                 </div>
            </div>
          </div>
        <div class="pure-g container">
          <div ng-class="{'pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4': showstreamer == false, 'pure-u-1': showstreamer}" ng-repeat="stream in streams | filter: search | filter: filterteams | filter: filterrank | filter: filterregion | filter: filterfav | filter: filteringame">
             <div class="content">
                <p><strong><i ng-if="stream.streamer.gender == 1" class="fa fa-male"></i><i ng-if="stream.streamer.gender == 0" class="fa fa-female"></i> {{stream.channel.name}}</strong><strong class="viewers"><i class="fa fa-eye"></i> {{stream.viewers}}</strong></p>
                <button class="img-box" ng-click="showstream(stream.channel.name)">
                   <img class="pure-img-responsive" src={{stream.preview.medium}}>
                   </img>
                   <div class="status">{{stream.channel.status}}</div>
                </button>
                </a>
                <div ng-if="stream.champion == 'Not in game.'" class="nogame">
                <i class="fa fa-gamepad off"></i>
                </div>
                <div ng-if="stream.champion == 'No info.'" class="nogame">
                ...
                </div>
                <div class="game" ng-if="stream.champion !== 'Not in game.' && stream.champion !== 'No info.'">
                <img class="champion" ng-src="http://ddragon.leagueoflegends.com/cdn/4.18.1/img/champion/{{stream.champion}}.png">
                </div>
                <div ng-class="{'rank':true}"><div class="ranktext">{{stream.region}}<br>{{stream.rank}}</div></div>
                <a href="" ng-if="fav_filter[stream.channel.name] == undefined" class="follow" ng-click="follow(stream, user)"><p class="followtext">Follow</p></a>
                <a href="" ng-if="fav_filter[stream.channel.name] !== undefined" class="follow" ng-click="unfollow(stream, user)"><p class="followtext">Unfollow</p></a>
                <a href="/auth" ng-if="user.name == undefined" class="follow"><p class="followtext">Follow</p></a>
             </div>
          </div>
       </div>
       </div>
    </div>
    <div class="pure-u-3-4 stream-container" ng-if="showstreamer">
        <div class="pure-u-1">
            <div class="pure-g active-stream">
                <object type="application/x-shockwave-flash" 
                    height="378" 
                    width="620" 
                    id="live_embed_player_flash" 
                    data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{activestream}}}" 
                    bgcolor="#000000">
                  <param  name="allowFullScreen" 
                          value="true" />
                  <param  name="allowScriptAccess" 
                          value="always" />
                  <param  name="allowNetworking" 
                          value="all" />
                  <param  name="movie" 
                          value="http://www.twitch.tv/widgets/live_embed_player.swf" />
                  <param  name="flashvars" 
                          value="hostname=www.twitch.tv&channel={{activestream}}&auto_play=true&start_volume=25" />
                </object>
                <i class="fa fa-times" ng-click="closestream()"></i>
            </div>
            <div class="pure-g">
            <iframe frameborder="0" 
                        scrolling="no" 
                        id="chat_embed" 
                        ng-src={{activechat}}
                        height="500" 
                        width="620">
                </iframe>
            </div>
        </div>
    </div>
</div>

</body>
</html>