<!DOCTYPE html>
<html class="no-js">
<head>
	<title>League of Legends Streams</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" CONTENT="Filter League of Legends streams by game status, game type, champions, teams, rank, and regions.">
	<link rel="stylesheet" href="css/pure.css">
  <link rel="stylesheet" href="css/grids-responsive.css">
  <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="font-awesome-4.2.0/css/font-awesome.min.css">
<!--   <link rel="shortcut icon" type="image/png" href="jasmine/lib/jasmine-2.0.0/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="jasmine/lib/jasmine-2.0.0/jasmine.css"> --> 

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57207763-1', 'auto');
    ga('send', 'pageview');
  </script>

<!--   // <script type="text/javascript" src="jasmine/lib/jasmine-2.0.0/jasmine.js"></script>
  // <script type="text/javascript" src="jasmine/lib/jasmine-2.0.0/jasmine-html.js"></script>
  // <script type="text/javascript" src="jasmine/lib/jasmine-2.0.0/boot.js"></script> -->
  <script src="js/pace.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-ui-router.min.js"></script>
	<script src="js/angular-resource.min.js"></script>
  <script src="js/angular-cookies.js"></script>
	<script src="js/main.js"></script>
    
</head>
<body ng-app="LoLStreamsApp">

<div id="layout" class="pure-g" ng-controller="StreamsCtrl">
  <div ng-class="{'filter-container': showstreamer == false}" ng-mouseenter="sidebar_hover=true" ng-mouseleave="sidebar_hover=false">
    <div class="pure-menu pure-menu-open sidebar">
       <a href="/" class="pure-menu-heading">LoL Streams<img src="/images/icon.png"></a>
       <ul>

            <li class="refresh" ng-click="refresh()"><a href="">REFRESH <i class="fa fa-refresh"></i></a></li>

            <li ng-click="showgamestatuses()"><a href=""><i ng-hide="showgamestatus" class="fa fa-plus"></i><i ng-show="showgamestatus" class="fa fa-minus"></i> Game Status</a></li>
            
            <div class="pure-g list-container" ng-show="showgamestatus">
              <a href="" class="pure-u-1-2 teams" ng-click="click_ingame('In game.')"><i ng-class="{'fa fa-square': ingame_filter['In game.'] == false, 'fa fa-check-square': ingame_filter['In game.'] }"></i> <i class="fa fa-gamepad fa-lg on"></i><div class="hover">In Game</div></a>
              <a href="" class="pure-u-1-2 teams" ng-click="click_ingame('Not in game.')"><i ng-class="{'fa fa-square': ingame_filter['Not in game.'] == false, 'fa fa-check-square': ingame_filter['Not in game.'] }"></i> <i class="fa fa-gamepad fa-lg off"></i><div class="hover">Not In Game</div></a>
              <a href="" class="pure-u-1-2 teams" ng-click="click_ingame('Champion select.')"><i ng-class="{'fa fa-square': ingame_filter['Champion select.'] == false, 'fa fa-check-square': ingame_filter['Champion select.'] }"></i> <i class="fa fa-gamepad fa-lg onoff"></i><div class="hover">Champion Select</div></a>
              <a href="" class="pure-u-1-2 teams" ng-click="click_ingame('Spectating.')"><i ng-class="{'fa fa-square': ingame_filter['Spectating.'] == false, 'fa fa-check-square': ingame_filter['Spectating.'] }"></i> <i class="fa fa-eye fa-lg spec"></i><div class="hover">Spectating</div></a>
            </div>

            <li ng-click="showstreamtypes()"><a href=""><i ng-hide="showstreamtype" class="fa fa-plus"></i><i ng-show="showstreamtype" class="fa fa-minus"></i> Stream Type</a></li>
            
            <div class="pure-g list-container" ng-show="showstreamtype">
              <a href="" class="pure-u-1-2 teams" ng-show="showstreamtype" ng-click="click_gametype(1)"><i ng-class="{'fa fa-square': gametype_filter[1] == false, 'fa fa-check-square': gametype_filter[1] }"></i> <i class="fa fa-male"></i><div class="hover">Male</div></a>
              <a href="" class="pure-u-1-2 teams" ng-show="showstreamtype" ng-click="click_gametype(0)"><i ng-class="{'fa fa-square': gametype_filter[0] == false, 'fa fa-check-square': gametype_filter[0] }"></i> <i class="fa fa-female"></i><div class="hover">Female</div></a>
              <a href="" class="pure-u-1-2 teams" ng-show="showstreamtype" ng-click="click_gametype(3)"><i ng-class="{'fa fa-square': gametype_filter[3] == false, 'fa fa-check-square': gametype_filter[3] }"></i> <i class="fa fa-video-camera"></i><div class="hover">Tournament</div></a>
              <a href="" class="pure-u-1-2 teams" ng-show="showstreamtype" ng-click="click_gametype(4)"><i ng-class="{'fa fa-square': gametype_filter[4] == false, 'fa fa-check-square': gametype_filter[4] }"></i> <i class="fa fa-microphone"></i><div class="hover">Podcast</div></a>
            </div>
          
          <li ng-click="showchampions()"><a href=""><i ng-hide="showchampion" class="fa fa-plus"></i><i ng-show="showchampion" class="fa fa-minus"></i> Champions</a></li>
          
          <div class="list-container" ng-show="showchampion">
            <!-- <a href="" ng-show="showchampion"><input class="search-champ" ng-model="searchchamp" type="text" placeholder="Search"></input></a> -->
            <a href="" ng-class="{'sublist': true}" ng-repeat="(champion, value) in champion_filter" ng-click="click_champion(champion)"><i ng-class="{'fa fa-square': champion_filter[champion] == false, 'fa fa-check-square': champion_filter[champion] }"></i> {{champion}}</a>
          </div>

          <li ng-click="showteams()"><a href=""><i ng-hide="showteam" class="fa fa-plus"></i><i ng-show="showteam" class="fa fa-minus"></i> Teams</a></li>

          <div class="pure-g list-container" ng-show="showteam">
            <a href="" ng-class="{'teams': true, 'pure-u-1-2': true}" ng-repeat="(team, value) in team_filter track by $index" ng-click="click_team(team)"><i ng-class="{'fa fa-square': team_filter[team] == false, 'fa fa-check-square': team_filter[team] }"></i>
                <img class="team-img" src="images/{{team}}.png"></span>
                <div ng-if="team == 'c9'" class="hover">Cloud 9</div>
                <div ng-if="team == 'clg'" class="hover" style="font-size: 12px">Counter Logic Gaming</div>
                <div ng-if="team == 'crs'" class="hover">Team Curse</div>
                <div ng-if="team == 'dig'" class="hover">Team Dignitas</div>
                <div ng-if="team == 'eg'" class="hover">Evil Geniuses</div>
                <div ng-if="team == 'lmq'" class="hover">LMQ</div>
                <div ng-if="team == 't8'" class="hover">Team 8</div>          
                <div ng-if="team == 'tsm'" class="hover">Team SoloMid</div>
            </a>
          </div>

          <li ng-click="showranks()"><a href=""><i ng-hide="showrank" class="fa fa-plus"></i><i ng-show="showrank" class="fa fa-minus"></i> Rank</a></li>

          <div class="list-container" ng-show="showrank">
            <a href="" class="sublist" ng-click="click_rank('CHALLENGER')"><i ng-class="{'fa fa-square': rank_filter['CHALLENGER'] == false, 'fa fa-check-square': rank_filter['CHALLENGER'] }"></i> Challenger</a>
            <a href="" class="sublist" ng-click="click_rank('MASTER')"><i ng-class="{'fa fa-square': rank_filter['MASTER'] == false, 'fa fa-check-square': rank_filter['MASTER'] }"></i> Master</a>
            <a href="" class="sublist" ng-click="click_rank('DIAMOND')"><i ng-class="{'fa fa-square': rank_filter['DIAMOND'] == false, 'fa fa-check-square': rank_filter['DIAMOND'] }"></i> Diamond</a>
            <a href="" class="sublist" ng-click="click_rank('PLATINUM')"><i ng-class="{'fa fa-square': rank_filter['PLATINUM'] == false, 'fa fa-check-square': rank_filter['PLATINUM'] }"></i> Platinum</a>
            <a href="" class="sublist" ng-click="click_rank('GOLD')"><i ng-class="{'fa fa-square': rank_filter['GOLD'] == false, 'fa fa-check-square': rank_filter['GOLD'] }"></i> Gold</a>
            <a href="" class="sublist" ng-click="click_rank('SILVER')"><i ng-class="{'fa fa-square': rank_filter['SILVER'] == false, 'fa fa-check-square': rank_filter['SILVER'] }"></i> Silver</a>
            <a href="" class="sublist" ng-click="click_rank('BRONZE')"><i ng-class="{'fa fa-square': rank_filter['BRONZE'] == false, 'fa fa-check-square': rank_filter['BRONZE'] }"></i> Bronze</a>
          </div>

          <li ng-click="showregions()"><a href=""><i ng-hide="showregion" class="fa fa-plus"></i><i ng-show="showregion" class="fa fa-minus"></i> Regions</a></li>

          <div class="list-container" ng-show="showregion">
            <a href="" class="sublist" ng-click="click_region('NA')"><i ng-class="{'fa fa-square': region_filter['NA'] == false, 'fa fa-check-square': region_filter['NA'] }"></i> North America</a>
            <a href="" class="sublist" ng-click="click_region('EUW')"><i ng-class="{'fa fa-square': region_filter['EUW'] == false, 'fa fa-check-square': region_filter['EUW'] }"></i> Europe West</a>
            <a href="" class="sublist" ng-click="click_region('EUNE')"><i ng-class="{'fa fa-square': region_filter['EUNE'] == false, 'fa fa-check-square': region_filter['EUNE'] }"></i> EU Nordic & E</a>
            <a href="" class="sublist" ng-click="click_region('BR')"><i ng-class="{'fa fa-square': region_filter['BR'] == false, 'fa fa-check-square': region_filter['BR'] }"></i> Brazil</a>
            <a href="" class="sublist" ng-click="click_region('TR')"><i ng-class="{'fa fa-square': region_filter['TR'] == false, 'fa fa-check-square': region_filter['TR'] }"></i> Turkey</a>
            <a href="" class="sublist" ng-click="click_region('RU')"><i ng-class="{'fa fa-square': region_filter['RU'] == false, 'fa fa-check-square': region_filter['RU'] }"></i> Russia</a>
            <a href="" class="sublist" ng-click="click_region('LAN')"><i ng-class="{'fa fa-square': region_filter['LAN'] == false, 'fa fa-check-square': region_filter['LAN'] }"></i> Latin America N</a>
            <a href="" class="sublist" ng-click="click_region('LAS')"><i ng-class="{'fa fa-square': region_filter['LAS'] == false, 'fa fa-check-square': region_filter['LAS'] }"></i> Latin America S</a>
            <a href="" class="sublist" ng-click="click_region('OCE')"><i ng-class="{'fa fa-square': region_filter['OCE'] == false, 'fa fa-check-square': region_filter['OCE'] }"></i> Oceania</a>
          </div>

          <li ng-click="showlangs()"><a href=""><i ng-hide="showlang" class="fa fa-plus"></i><i ng-show="showlang" class="fa fa-minus"></i> Languages</a></li>

          <div class="list-container" ng-show="showlang">
            <a href="" ng-class="{'sublist': true}" ng-repeat="(lang, value) in lang_filter" ng-click="click_lang(lang)"><i ng-class="{'fa fa-square': lang_filter[lang] == false, 'fa fa-check-square': lang_filter[lang] }"></i> 
            <span ng-if="lang == 'da'"> Dansk</span>
            <span ng-if="lang == 'de'"> Deutsch</span>
            <span ng-if="lang == 'en'"> English</span>
            <span ng-if="lang == 'es'"> Español</span>
            <span ng-if="lang == 'fr'"> Français</span>
            <span ng-if="lang == 'it'"> Italiano</span>
            <span ng-if="lang == 'hu'"> Magyar</span>
            <span ng-if="lang == 'nl'"> Nederlands</span>
            <span ng-if="lang == 'no'"> Norsk</span>
            <span ng-if="lang == 'pl'"> Polski</span>
            <span ng-if="lang == 'pt'"> Português</span>
            <span ng-if="lang == 'sk'"> Slovenčina</span>
            <span ng-if="lang == 'fi'"> Suomi</span>
            <span ng-if="lang == 'sv'"> Svenska</span>
            <span ng-if="lang == 'tr'"> Türkçe</span>
            <span ng-if="lang == 'cs'"> Čeština</span>
            <span ng-if="lang == 'el'"> Ελληνικά</span>
            <span ng-if="lang == 'ru'"> Русский</span>
            <span ng-if="lang == 'zh'"> 中文</span>
            <span ng-if="lang == 'ja'"> 日本語</span>
            <span ng-if="lang == 'ko'"> 한국어</span>
          </a>
          </div>
          
          <li><a href="" ng-if="favstreams !== undefined" ng-click="click_fav(fav_filter)"><i ng-class="{'fa fa-square': fav_box == false, 'fa fa-check-square': fav_box }"></i> Following</a></li>
       </ul>
    </div>
    <div class="twitch">
      <div class="login">
            <li class="signin" ng-if="user.name == undefined"><a href="/auth"><i class="fa fa-twitch"></i> Sign In</a></li>
            <li ng-if="user.name"><a><i class="fa fa-twitch"></i> {{user.name}}</a></li>
            <li ng-if="user.name"><a ng-click="logout()"><i class="fa fa-sign-out"></i> Sign Out</a></li>
      </div>
    </div>
    <div ui-view></div>
    <div ng-class="{'stream-list': true, 'pure-u-1': showstreamer == false, 'pure-u-1 column': showstreamer}" ng-hide="showstreamer && sidebar_hover == false">
       <div class="pure-u-1">
          <div class="pure-g top-container">
            <div ng-class="{'pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-5': showstreamer == false, 'pure-u-1': showstreamer}">
               
             <input id="search" ng-model="search" type="text" placeholder="Search"></input>
             
            </div>
          </div>
        <div class="pure-g container">
          <div ng-class="{'pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-5': showstreamer == false, 'pure-u-1': showstreamer}" ng-repeat="stream in streams | filter: search | filter: filterteams | filter: filterrank | filter: filterregion | filter: filterfav | filter: filteringame | filter: filtergametype | filter: filterchampion | filter: filterlang">
             <div class="content">
                <p><strong><i ng-if="stream.streamer.gender == 1" class="fa fa-male"></i><i ng-if="stream.streamer.gender == 0" class="fa fa-female"></i><i ng-if="stream.streamer.gender == 3" class="fa fa-video-camera"></i><i ng-if="stream.streamer.gender == 4" class="fa fa-microphone"></i> {{stream.channel.name}} <img ng-if="stream.streamer.team" class="team-img-box" src="images/{{stream.streamer.team}}.png"></strong><strong class="viewers"><i class="fa fa-eye"></i> {{stream.viewers}}</strong></p>
                <button class="img-box" ng-click="showstream(stream.channel.name)">
                   <img class="pure-img-responsive" src={{stream.preview.medium}}>
                   </img>
                   <div class="status">{{stream.channel.status}}</div>
                </button>
                </a>

                <div ng-if="stream.champion == 'Not in game.' && stream.rank !== 'Champion Select' && stream.rank !== 'Spectating'" class="nogame">
                <i class="fa fa-gamepad off"></i>
                </div>

                <div ng-if="stream.champion == 'No info.'" class="nogame">
                ...
                </div>

                <div ng-if="stream.rank == 'Champion Select'" class="champselect">
                <i class="fa fa-gamepad onoff"></i>
                </div>

                <div class="game" ng-if="stream.status == 'In game.' && stream.champion !== 'No info.' && stream.rank !== 'Champion Select'">
                <img class="champion" ng-src="http://ddragon.leagueoflegends.com/cdn/4.21.5/img/champion/{{stream.champion}}.png">
                </div>

                <div class="game-tourn" ng-if="stream.status !== 'Not in game.' && stream.champion !== 'No info.' && stream.rank !== 'Champion Select' && stream.streamer.gender == 3">
                  <i class="fa fa-video-camera tourn"></i>
                </div>

                <div class="game-pod" ng-if="stream.status !== 'Not in game.' && stream.champion !== 'No info.' && stream.rank !== 'Champion Select' && stream.streamer.gender == 4">
                  <i class="fa fa-microphone pod"></i>
                </div>

                <div class="game-spec" ng-if="stream.status !== 'Not in game.' && stream.champion !== 'No info.' && stream.rank !== 'Champion Select' && stream.rank == 'Spectating'">
                  <i class="fa fa-eye tourn spec"></i>
                </div>
                
                <div ng-class="{'rank':true}"><div class="ranktext">{{stream.region}}<span ng-if="stream.region && stream.channel.broadcaster_language != undefined && stream.channel.broadcaster_language != 'other' "> - </span><span ng-if="stream.channel.broadcaster_language != 'other'">{{stream.channel.broadcaster_language.toUpperCase()}}</span><br>{{stream.rank}} {{stream.division}}</div></div>
                <a href="" ng-if="fav_filter[stream.channel.name] == undefined && user.name !== undefined" class="follow" ng-click="follow(stream, user)"><p class="followtext">Follow</p></a>
                <a href="" ng-if="fav_filter[stream.channel.name] !== undefined && user.name !== undefined" class="follow" ng-click="unfollow(stream, user)"><p class="followtext">Unfollow</p></a>
                <a href="/auth" ng-if="user.name == undefined" class="follow"><p class="followtext">Sign In</p></a>
             </div>
          </div>

       </div>
       </div>
    </div>
  </div>
    <div class="pure-u-1 stream-container" ng-if="showstreamer">
        
        <div ng-class="{'active-stream': true, 'fullscreen': chat == false }">
        <div class="header">
          <h2>

            <strong><i ng-if="activestreamer.streamer.gender == 1" class="fa fa-male"></i><i ng-if="activestreamer.streamer.gender == 0" class="fa fa-female"></i><i ng-if="activestreamer.streamer.gender == 3" class="fa fa-video-camera"></i><i ng-if="activestreamer.streamer.gender == 4" class="fa fa-microphone"></i> {{activestreamer.channel.name}} <img ng-if="activestreamer.streamer.team" class="team-img-box" style="max-width: 25px" src="images/{{activestreamer.streamer.team}}.png"></strong>

            <strong class="viewers"><i class="fa fa-eye"></i> {{activestreamer.viewers}}&nbsp<i class="fa fa-times" ng-click="closestream()">&nbsp</i>
            </strong>

          </h2>

          <div class="title">{{activestreamer.channel.status}}</div>
          
        </div>
  
          <div id="active">
            <object type="application/x-shockwave-flash" 
                height="100%" 
                width="100%" 
                id="live_embed_player_flash" 
                data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{activestream}}}" 
                bgcolor="#000000">
              <param  name="allowFullScreen" 
                      value="true" />
              <param  name="allowScriptAccess" 
                      value="always" />
              <param  name="allowNetworking" 
                      value="all" />
              <param  name="movie" 
                      value="http://www.twitch.tv/widgets/live_embed_player.swf" />
              <param  name="flashvars" 
                      value="hostname=www.twitch.tv&channel={{activestream}}&auto_play=true&start_volume=100" />
            </object>
          </div>

          <div ng-if="activestreamer.champion == 'Not in game.' && activestreamer.rank !== 'Champion Select' && activestreamer.rank !== 'Spectating'" class="nogame">
          <i class="fa fa-gamepad off"></i>
          </div>

          <div ng-if="activestreamer.champion == 'No info.'" class="nogame">
          ...
          </div>

          <div ng-if="activestreamer.rank == 'Champion Select'" class="champselect">
          <i class="fa fa-gamepad onoff"></i>
          </div>

          <div class="game" ng-if="activestreamer.status == 'In game.' && activestreamer.champion !== 'No info.' && activestreamer.rank !== 'Champion Select'">
          <img class="champion" ng-src="http://ddragon.leagueoflegends.com/cdn/4.21.5/img/champion/{{activestreamer.champion}}.png">
          </div>

          <div class="game-tourn" ng-if="activestreamer.status !== 'Not in game.' && activestreamer.champion !== 'No info.' && activestreamer.rank !== 'Champion Select' && activestreamer.streamer.gender == 3">
            <i class="fa fa-video-camera tourn"></i>
          </div>

          <div class="game-pod" ng-if="activestreamer.status !== 'Not in game.' && activestreamer.champion !== 'No info.' && activestreamer.rank !== 'Champion Select' && activestreamer.streamer.gender == 4">
            <i class="fa fa-microphone pod"></i>
          </div>

          <div class="game-spec" ng-if="activestreamer.status !== 'Not in game.' && activestreamer.champion !== 'No info.' && activestreamer.rank !== 'Champion Select' && activestreamer.rank == 'Spectating'">
            <i class="fa fa-eye tourn spec"></i>
          </div>

          <div ng-class="{'rank':true, 'rank2':true}">
            <div class="ranktext">{{activestreamer.region}}
            <span ng-if="activestreamer.region && activestreamer.channel.broadcaster_language != undefined && activestreamer.channel.broadcaster_language != 'other' "> - </span><span ng-if="activestreamer.channel.broadcaster_language != 'other'">
              <span ng-if="activestreamer.channel.broadcaster_language == 'da'"> Dansk</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'de'"> Deutsch</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'en'"> English</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'es'"> Español</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'fr'"> Français</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'it'"> Italiano</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'hu'"> Magyar</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'nl'"> Nederlands</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'no'"> Norsk</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'pl'"> Polski</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'pt'"> Português</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'sk'"> Slovenčina</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'fi'"> Suomi</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'sv'"> Svenska</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'tr'"> Türkçe</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'cs'"> Čeština</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'el'"> Ελληνικά</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'ru'"> Русский</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'zh'"> 中文</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'ja'"> 日本語</span>
              <span ng-if="activestreamer.channel.broadcaster_language == 'ko'"> 한국어</span>
            </span>
            <br>{{activestreamer.rank}} {{activestreamer.division}}</div>
          </div>

          <a href="" class="follow" ng-click="click_chat()"><p class="followtext">Chat</p></a>
          <a href="" ng-if="fav_filter[activestreamer.channel.name] == undefined && user.name !== undefined" class="follow" ng-click="follow(activestreamer, user)"><p class="followtext">Follow</p></a>
          <a href="" ng-if="fav_filter[activestreamer.channel.name] !== undefined && user.name !== undefined" class="follow" ng-click="unfollow(activestreamer, user)"><p class="followtext">Unfollow</p></a>
          <a href="/auth" ng-if="user.name == undefined" class="follow"><p class="followtext">Sign In</p></a>
        </div>

         <div ng-if="chat" class="chat" id="chat">
          <iframe frameborder="0" 
                  scrolling="no" 
                  id="chat_embed" 
                  ng-src={{activechat}}
                  height="100%" 
                  width="100%">
          </iframe>
        </div>
      </div>
    <p ng-hide="showstreamer" class="footer">LoLStreams.tv isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Streams -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-1921471101495139"
         data-ad-slot="4806832801"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
</div>
<script>

    var active = document.getElementById("active");
    if(active.offsetWidth * 9/16 + 32 > (window.innerHeight - 84)) {
      active.style.height = window.innerHeight - 84 + "px"
    } else {
      active.style.height = active.offsetWidth * 9/16 + 32 + "px"
    }
  
    window.onload = function() {
      var active = document.getElementById("active");
      if(active.offsetWidth * 9/16 + 32 > (window.innerHeight - 84)) {
        active.style.height = window.innerHeight - 84 + "px"
      } else {
        active.style.height = active.offsetWidth * 9/16 + 32 + "px"
      }
    }

    window.addEventListener("resize", function(e) {
      var active = document.getElementById("active");
      if(active.offsetWidth !== 0) {
        if(active.offsetWidth * 9/16 + 32 > (window.innerHeight - 84)) {
          active.style.height = window.innerHeight - 84 + "px"
        } else {
          active.style.height = active.offsetWidth * 9/16 + 32 + "px"
        }
      }
    });

    window.addEventListener("click", function(e) {
      var active = document.getElementById("active");
      if(active.offsetWidth !== 0) {
        if(active.offsetWidth * 9/16 + 32 > (window.innerHeight - 84)) {
          active.style.height = window.innerHeight - 84 + "px"
        } else {
          active.style.height = active.offsetWidth * 9/16 + 32 + "px"
        }
      }
    });


</script>
</body>
</html>