body {
    background: #252525;
}

#layout {
    padding-left: 150px;
}

.pure-menu.pure-menu-open.sidebar {
    margin-left: -150px;
    width: 150px;
    height: calc(100vh - 60px);
    position: fixed;
    letter-spacing: normal;
    overflow: auto;
    border: none;
    background: #252525;
    border-right: none;
    z-index: 1000;
}

.pure-menu-heading {
    color: white !important;
    margin-top: 3.6px !important;
    padding-bottom: 8.6px !important;
    border-bottom: none !important;
}

a {
    color: white !important;
    text-decoration: none;
}

.viewers {
    float:right;
}

.stream {
    border: 2px solid black;
}

#search {
    margin: 5px;
    height: 28px;
    width: 96%;
    min-width: 190px;
}

.stream-list {
    min-width: 200px;
}

.content {
    margin: 5px;
    color: white;
}

.img-box {
    position: relative;
    display: block;
    height: auto;
    padding: 0;
    margin: 0;
    border: none;
    text-align: left;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    padding-top: 45px;
}

.top-container {
    width: calc(100% - 150px);
    height: 39px;
    background: #252525;
    z-index: 999;
    position: fixed;
    min-width: 200px;
}

.column {
    width: 300px !important;
    position: absolute;
    z-index: 1002;
    background: #252525;
}

.column div .top-container {
    width: 300px !important;    
}

.column .container {
    min-height: 100vh;
}

.status {
    float: left;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 5px;
    background: rgba(40, 40, 40, 0.6);
    height: auto;
    color: white;
}

.img-box:hover .status {
    display: block;
}

.sublist {
    font-size: 12px;
}

.stream-container {
    color: white;
    height: 100vh;
    width: 100%;
    z-index: 1001;
    padding-right: 1px;
    position: fixed;
    overflow: auto;
}

.active-stream {
    width: calc(100% - 450px);
    display:inline-block;
    padding: 2px;
}

.rightside {
    position: fixed;
}

.fa-times {
    float: right;
    padding-top: 2px;
    padding-bottom: 4px;
}

.champion {
    max-width: 40px;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.twitch {
    position: fixed;
    background: #6C4C9F;
    bottom: 0px;
    list-style: none;
    width: 150px;
    margin-left: -150px;
    height: 60px;
    position: fixed;
    letter-spacing: normal;
    overflow: auto;
    border: none;
    border-right: none;
    z-index: 1000;
}

.login {
    margin: 5px 0px 0px 20px;
}

.fa-twitch {
    margin-left: -1px;
    margin-right: -1px;
    padding-top: 6px;
}

.fa-sign-out {
    margin-top: 6px;
    margin-right: -1px;
}

.signin {
    font-size: 1.5em;
    padding-top: 6px;
}

.game {
   
    float: left;
    border: 1px solid green;
    margin: 1px;
    margin-left: 0px;
    margin-top: 2px;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 1.8em;
}

.on {
    color: green;
    font-size: 1.8em;
}

.nogame {
    height: 40px;
    width: 40px;
    font-size: 1.8em;
    float: left;
    margin: 1px;
    margin-top: 2px;
    border: 1px solid #c4151b;
    text-align: center;
}

.champselect {
    height: 40px;
    width: 40px;
    font-size: 1.8em;
    float: left;
    margin: 1px;
    margin-top: 2px;
    border: 1px solid yellow;
    text-align: center;
}

.off {
    color: #c4151b;
    margin-top: 3px;
}

.pod {
    margin-top: 7px;
    margin-left: -5px;
}

.tourn {
    margin-top: 6px;
    margin-left: -7px;
}

.onoff {
    margin-top: 4px;
    color: yellow;
    margin-left: 1px;
}

.rank {
    width: calc(100% - 110px);
    height: 40px;
    margin-top: 2px;
    float: left;
    text-align: center;
    border: 1px solid grey;
    color: grey;
}

.ranktext {
    font-size: 0.8em;
    margin: 5px 0px 0px 0px;
}

.follow {
    width: 60px;
    height: 40px;
    float: right;
    text-align: center;
    border: 1px solid #6C4C9F;
    background: #6C4C9F;
    color: white;
    margin: 1px;
    margin-right: 0px;
    margin-top: 2px;
}

.followtext {
    margin-top: 11px;
    font-size: 0.8em;
}

.fa-male {
    color: #00769F;
}

.fa-female {
    color: #C71477;
}

.checkboxtop {
    float: left;
    display: inline-block;
    width: 40px;
}

.fa-times {
    float: right;
}

.streamname {
    float: left;
    margin: 0;
    padding-top: 4px;
    padding-left: 1px;
}

.footer {
    letter-spacing: normal;
    color: white;
    margin: 5px;
}

.chat {
    display: inline-block;
    height: 100vh;
    position: fixed;
    float: right;
    width: 300px;
    margin-top: -40px;
}

.header {
    width: calc(100% - 450px);
    display: block;
    height: 35px;
    margin-top: 5px;
}

#active {
    width: 100%;
    float: left;
    display: inline-block;
}

h2 {
    margin: 0;
}

.filter-container {
    width: 100% !important;
}