body {
    background: #252525;
}

#layout {
    padding-left: 150px;
}

.pure-menu.pure-menu-open.sidebar {
    margin-left: -150px;
    width: 150px;
    height: calc(100vh - 60px);
    position: fixed;
    letter-spacing: normal;
    overflow: auto;
    border: none;
    background: #252525;
    border-right: none;
    z-index: 1000;
}

.pure-menu-heading {
    color: white !important;
    margin-top: 3.6px !important;
    padding-bottom: 8.6px !important;
    border-bottom: none !important;
}

a {
    color: white !important;
    text-decoration: none;
}

.viewers {
    float:right;
}

.stream {
    border: 2px solid black;
}

#search {
    margin: 5px;
    height: 28px;
    width: 96%;
    min-width: 190px;
}

.stream-list {
    min-width: 200px;
}

.content {
    margin: 5px;
    color: white;
}

.img-box {
    position: relative;
    display: block;
    height: auto;
    padding: 0;
    margin: 0;
    border: none;
    text-align: left;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    padding-top: 45px;
}

.top-container {
    width: calc(100% - 150px);
    height: 39px;
    background: #252525;
    z-index: 999;
    position: fixed;
    min-width: 200px;
}

.status {
    float: left;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 5px;
    background: rgba(40, 40, 40, 0.6);
    height: auto;
    color: white;
}

.img-box:hover .status {
    display: block;
}

.sublist {
    margin-left: 10px;
    font-size: 12px;
}

.stream-container {
    color: white;
    overflow: auto;
    height: 100vh;
    position: fixed;
    width: 65%;
    z-index: 1001;
}

.active-stream {
    overflow: auto;
    
}

.rightside {
    position: fixed;
}

.fa-times {
    float: right;
}

.champion {
    max-width: 40px;
    height: auto;
}

.twitch {
    position: fixed;
    background: #6C4C9F;
    bottom: 0px;
    list-style: none;
    width: 150px;
    margin-left: -150px;
    height: 60px;
    position: fixed;
    letter-spacing: normal;
    overflow: auto;
    border: none;
    border-right: none;
    z-index: 1000;
}

.login {
    margin: 5px 0px 0px 20px;
}

.fa-twitch {
    margin-left: -1px;
    margin-right: -1px;
    padding-top: 6px;
}

.fa-sign-out {
    margin-top: 5px;
    margin-right: -1px;
}

.signin {
    font-size: 1.5em;
    padding-top: 6px;
}